<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.llj.socialization">

    <application
        android:label="@string/app_name">


        <activity
            android:name="com.llj.socialization.ResponseActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>


    </application>

</manifest>
