<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.llj.loading">


  <application>

    <activity
      android:name="com.llj.loading.ui.activity.LoadingActivity"
      android:theme="@style/MyAppTheme.NoActionBar.Loading">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="ciw" />
      </intent-filter>
    </activity>

    <activity android:name=".ui.activity.GuideActivity" />


  </application>
</manifest>